#columnaRoja{
    background-color: rgb(212, 104, 104);
}

#columnaAzul{
    background-color: rgb(126, 126, 143) ;
}

#columnaVerde{
    background-color:rgb(59, 192, 59);
}

#columnaAmarillo{
    background-color: rgb(200, 240, 22);
}
